body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  width: 100%;
  height: 30rem; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  min-width: 100%; /* Each slide takes the full width of the container */
  height: 100%; /* Ensures the slide takes the full height of the container */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: #f0f0f0; /* Optional: Background color for visibility */
}

.carousel-image {
  width: 100%; /* Make the image fill the width of the container */
  height: 100%; /* Make the image fill the height of the container */
  object-fit: cover; /* Crop the image to cover the container while maintaining its aspect ratio */
}

.carousel-content {
  position: absolute; /* Position content within the slide */
  bottom: 0; /* Align content to the bottom */
  left: 0;
  right: 0;
  padding: 0%; /* Add padding for spacing */
  background: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background for better readability */
  color: white; /* Ensure text is readable */
  text-align: center; /* Center text horizontally */
}